<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="cancel()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Especialidades</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="forgot-password-content">
    <form [formGroup]="specializationForm" (ngSubmit)="saveEspecialityForm()">
        <ion-list class="inputs-list" lines="full">
            <ion-item class="input-item">
              <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" cancelText="Cerrar" formControlName="speciality" okText="OK">
                <ion-select-option *ngFor="let item of especialidadService.listSpeciality" [value]="item.id" >{{item.nombreEspecialidad}}</ion-select-option>
              </ion-select>
            </ion-item>
        </ion-list>
        <ion-button class="reset-password-btn" type="submit" expand="block" color="secondary" [disabled]="!specializationForm.valid">Guardar</ion-button>
    </form>

    <table class="items-align">
        <tr>
            <th class="itemh">N°</th>
            <th class="itemh">Especialidad</th>
            <th class="iconh">Acciones</th>
        </tr>
        <tr *ngFor="let item of especialidadService.listSpecialityByUser; let i = index">
            <td class="itemh" style="text-align: center">{{i+1}}</td>
            <td class="itemh">{{item.nombreEspecialidad}}</td>
            <td class="itemh">
              <div style="text-align: center;font-size: 20px;">
                <ion-icon name="trash-bin-outline" (click)="deleteSpeciality(item)"></ion-icon>
              </div>
            </td>
        </tr>
    </table>
</ion-content>